html {
  background: radial-Gradient(circle, #fff, #ccc);
  background: -webkit-radial-Gradient(circle, #fff, #ccc);
  background: -o-radial-Gradient(circle, #fff, #ccc);
  background: -moz-radial-Gradient(circle, #fff, #ccc);
  height: 100%;
}
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
@media (min-width: 600px) {
  html {
    background: radial-Gradient(circle, #fff, #ccc);
    background: -webkit-radial-Gradient(circle, #fff, #ccc);
    background: -o-radial-Gradient(circle, #fff, #ccc);
    background: -moz-radial-Gradient(circle, #fff, #ccc);
    height: 100%;
  }
  #container {
    height: 500px;
    width: 600px;
    background-color: rgb(159, 199, 199);
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    /* shadow layout:[horizontal offset] [vertical offset]
    [blur radius] [optional spread radius] [color] */
    box-shadow: 4px 4px 0px grey;
    -moz-box-shadow: 4px 4px 0px grey;
    -webkit-box-shadow: 4px 4px 0px grey;
    position: relative;
  }
  #score {
    background-color: aqua;
    float: right;
    box-shadow: 4px 4px 0px grey;
    -moz-box-shadow: 4px 4px 0px grey;
    -webkit-box-shadow: 4px 4px 0px grey;
    text-align: center;
    padding: 10px;
    /* position: absolute; */
    border-radius: 5px;
  }
  #correct {
    background-color: green;
    position: absolute;
    left: 255px;
    color: black;
    padding: 10px;
    display: none;
    border-radius: 5px;
  }
  #wrong {
    background-color: rgb(199, 81, 97);
    position: absolute;
    left: 255px;
    color: white;
    padding: 10px;
    display: none;
    border-radius: 5px;
  }
  #question {
    background-color: rgb(84, 111, 129);
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto;
    box-shadow: 4px 4px 0px grey;
    -moz-box-shadow: 4px 4px 0px grey;
    -webkit-box-shadow: 4px 4px 0px grey;
    border-radius: 5px;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
  }
  #instruction {
    background-color: lightblue;
    width: 450px;
    height: 50px;
    margin: 0px auto 10px auto;
    box-shadow: 4px 4px 0px grey;
    -moz-box-shadow: 4px 4px 0px grey;
    -webkit-box-shadow: 4px 4px 0px grey;
    border-radius: 5px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    line-height: 50px;
  }
  #choices {
    height: 100px;
    width: 450px;
    margin: 5px auto;
  }
  .box {
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 0px grey;
    text-align: center;
    line-height: 75px;
    font-size: bold;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
  }
  .box:hover,
  #startreset:hover {
    background-color: rgb(64, 65, 99);
    color: white;
    box-shadow: 4px 4px 0px darkgrey;
  }
  #box4 {
    margin-right: 0;
  }
  .box:active,
  #startreset:active {
    box-shadow: 0px 4px 0px darkgrey;
    top: 4px;
    position: relative;
  }
  #startreset {
    width: 85px;
    background-color: rgb(183, 199, 233);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 4px 4px 0px grey;
    text-align: center;
    font-size: bold;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
  }
  #time {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 430px;
    left: 410px;
    background-color: rgb(119, 224, 136);
    border-radius: 5px;
    box-shadow: 4px 4px 0px grey;
    -moz-box-shadow: 4px 4px 0px grey;
    -webkit-box-shadow: 4px 4px 0px grey;
    display: none;
  }
  #gameover {
    height: 200px;
    width: 350px;
    background: linear-gradient(orange, rgb(168, 58, 58));
    background: -moz-linear-gradient(orange, rgb(168, 58, 58));
    background: -o-linear-gradient(orange, rgb(168, 58, 58));
    background: -webkit-linear-gradient(orange, rgb(168, 58, 58));

    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 2;
    display: none;
    border-radius: 5px;
  }
}
#container {
  height: 500px;
  width: 600px;
  background-color: rgb(159, 199, 199);
  margin: 100px auto;
  padding: 20px;
  border-radius: 20px;
  /* shadow layout:[horizontal offset] [vertical offset]
  [blur radius] [optional spread radius] [color] */
  box-shadow: 4px 4px 0px grey;
  -moz-box-shadow: 4px 4px 0px grey;
  -webkit-box-shadow: 4px 4px 0px grey;
  position: relative;
}
#score {
  background-color: aqua;
  float: right;
  box-shadow: 4px 4px 0px grey;
  -moz-box-shadow: 4px 4px 0px grey;
  -webkit-box-shadow: 4px 4px 0px grey;
  text-align: center;
  padding: 10px;
  /* position: absolute; */
  border-radius: 5px;
}
#correct {
  background-color: green;
  position: absolute;
  left: 255px;
  color: black;
  padding: 10px;
  display: none;
  border-radius: 5px;
}
#wrong {
  background-color: rgb(199, 81, 97);
  position: absolute;
  left: 255px;
  color: white;
  padding: 10px;
  display: none;
  border-radius: 5px;
}
#question {
  background-color: rgb(84, 111, 129);
  width: 450px;
  height: 150px;
  margin: 50px auto 10px auto;
  box-shadow: 4px 4px 0px grey;
  -moz-box-shadow: 4px 4px 0px grey;
  -webkit-box-shadow: 4px 4px 0px grey;
  border-radius: 5px;
  font-size: 100px;
  text-align: center;
  font-family: cursive, sans-serif;
  color: black;
}
#instruction {
  background-color: lightblue;
  width: 450px;
  height: 50px;
  margin: 0px auto 10px auto;
  box-shadow: 4px 4px 0px grey;
  -moz-box-shadow: 4px 4px 0px grey;
  -webkit-box-shadow: 4px 4px 0px grey;
  border-radius: 5px;
  text-align: center;
  font-family: cursive, sans-serif;
  color: black;
  line-height: 50px;
}
#choices {
  height: 100px;
  width: 450px;
  margin: 5px auto;
}
.box {
  width: 85px;
  height: 85px;
  background-color: white;
  float: left;
  margin-right: 36px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 4px 4px 0px grey;
  text-align: center;
  line-height: 75px;
  font-size: bold;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}
.box:hover,
#startreset:hover {
  background-color: rgb(64, 65, 99);
  color: white;
  box-shadow: 4px 4px 0px darkgrey;
}
#box4 {
  margin-right: 0;
}
.box:active,
#startreset:active {
  box-shadow: 0px 4px 0px darkgrey;
  top: 4px;
  position: relative;
}
#startreset {
  width: 85px;
  background-color: rgb(183, 199, 233);
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: 4px 4px 0px grey;
  text-align: center;
  font-size: bold;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}
#time {
  width: 200px;
  padding: 10px;
  position: absolute;
  top: 430px;
  left: 410px;
  background-color: rgb(119, 224, 136);
  border-radius: 5px;
  box-shadow: 4px 4px 0px grey;
  -moz-box-shadow: 4px 4px 0px grey;
  -webkit-box-shadow: 4px 4px 0px grey;
  display: none;
}
#gameover {
  height: 200px;
  width: 350px;
  background: linear-gradient(orange, rgb(168, 58, 58));
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  left: 150px;
  z-index: 2;
  display: none;
  border-radius: 5px;
}
